@import "tailwindcss";

@theme inline {
  --color-primary: #07A2A2;
  --color-primary-light: #CDF5F5;
  --color-secondary: #2D7CA4;
  --color-accent: #FF944D;
  --color-error: #F44034;
  --color-dark: #565656;
  --color-grey: #C9C9C9;
  --color-border: #EAEAEA;
  --color-background: #ffffff;
  --color-foreground: #171717;
  --font-sans: var(--font-noto-sans-thai);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}
